@import "tailwindcss";

@theme {
    --color-grumpy-100: #f2edde;
    --breakpoint-xs: 30rem;
    --breakpoint-xxs: 15em;
}

@layer base {
    /* reset every <button> to a blank slate */
    button {
        all: revert;
    }

    button:hover {
        all: revert;
    }

    button:active {
        all: revert;
    }

    input {
        all: revert;
    }

    h1 {
        @apply text-5xl text-center;
    }
}
